<tr>
    <td style="font-size: 0; padding: 0; margin: 0;" valign="top" align="center">
        <table align="center" style="background-color: #e7e6dc;" bgcolor="#e7e6dc" cellpadding="0" cellspacing="0" border="0" role="presentation">
            <tbody>
                <tr>
                    <td class="top" align="center" valign="middle" width="50%">
                        <table style="max-width:265px;" class="img-max" width="265" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td colspan="3" style="height: 20px; font-size: 0px;" height="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="img-max" width="265" valign="top" align="center"><img src="https://d343t93odde9ul.cloudfront.net/minisites/ICBC/resources/Img_Separador_265x2.png" alt="-" title="-" style="display: inline-block; width: 265px; height: 1px; font-family: Arial,Helvetica,Open Sans,sans-serif; font-size: 1px; color: #333333; " width="265" height="1" /></td>
                                </tr>
                                <tr>
                                    <td width="20">&nbsp;</td>
                                    <td style="font-family: Arial, Helvetica, Open Sans, sans-serif; font-size: 14px; font-weight: normal; color: #333333; line-height: 20px; text-align: center;" valign="middle">&iexcl;Por participar te regalamos una <strong style="color: #c4161c;">experiencia Bigbox</strong> para disfrutar con quien quieras!</td>
                                    <td width="20">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="bottom" align="center" valign="middle" width="50%">
                        <table style="max-width:265px;" class="img-max" width="265" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td style="height: 20px; font-size: 0px;" height="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="img-max" width="265" valign="top" align="center"><img src="https://d343t93odde9ul.cloudfront.net/minisites/ICBC/logos/logo_bigbox_v3.png" alt="BigBox" title="BigBox" style="display: inline-block; width: 265px; height: 115px; font-family: Arial,Helvetica,Open Sans,sans-serif; font-size: 12px; color: #333333; " width="265" height="115" /></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px; font-size: 0px;" height="20">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>