<table style="max-width: 600px; background-color: #000000;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" align="center">
<tbody>
<tr>
<td colspan="3" style="height: 14px; font-size: 0px;" height="14px"></td>
</tr>
<tr>
<td style="width: 35px;" width="35"></td>
<td style="width: 530px;" width="530" valign="middle">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td width="30%" valign="middle" align="left">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td class="IconoRedes" valign="middle" align="left"><a href="https://twitter.com/icbcargentina" data-label="LinkRef1" data-btnid="MTIwNzk0Mzk%3d" target="_blank" style="text-decoration: none; border-style: none !important;"><img class="IconoRedes" style="display: block; font-family: Arial,Helvetica,Open Sans,sans-serif; font-size: 12px; color: #ffffff; max-width: 28px !important;" src="https://d343t93odde9ul.cloudfront.net/minisites/ICBC/logos/header/logo-Tw_B_56x56.png" width="28" border="0" /></a></td>
<td class="IconoRedes" style="padding-left: 10px;" valign="middle" align="left"><a href="https://www.facebook.com/ICBCArgentina/" data-label="LinkRef2" data-btnid="MTIwNzk0NDA%3d" target="_blank" style="text-decoration: none; border-style: none !important;"><img class="IconoRedes" style="display: block; font-family: Arial,Helvetica,Open Sans,sans-serif; font-size: 12px; color: #ffffff; max-width: 28px !important;" src="https://d343t93odde9ul.cloudfront.net/minisites/ICBC/logos/header/logo-Fb_B_56x56.png" width="28" border="0" /></a></td>
<td class="IconoRedes" style="padding-left: 10px;" valign="middle" align="left"><a href="https://www.instagram.com/icbc.argentina/" data-label="LinkRef3" data-btnid="MTIwNzk0NDE%3d" target="_blank" style="text-decoration: none; border-style: none !important;"><img class="IconoRedes" style="display: block; font-family: Arial,Helvetica,Open Sans,sans-serif; font-size: 12px; color: #ffffff; max-width: 28px !important;" src="https://d343t93odde9ul.cloudfront.net/minisites/ICBC/logos/header/logo-Ig_B_56x56.png" width="28" border="0" /></a></td>
<td class="IconoRedes" style="padding-left: 10px;" valign="middle" align="left"><a href="https://www.linkedin.com/company/icbc-argentina/" data-label="LinkRef4" data-btnid="MTIwNzk0NDI%3d" target="_blank" style="text-decoration: none; border-style: none !important;"><img class="IconoRedes" style="display: block; font-family: Arial,Helvetica,Open Sans,sans-serif; font-size: 12px; color: #ffffff; max-width: 28px !important;" src="https://d343t93odde9ul.cloudfront.net/minisites/ICBC/logos/header/logo-In_B_56x56.png" width="28" border="0" /></a></td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td style="vertical-align: middle;" width="70%" height="40" valign="middle" align="right"><img src="https://d343t93odde9ul.cloudfront.net/minisites/ICBC/logos/header/ICBC-Inversiones-HOR-BLANCO.png" class="img-max-Logo" style="max-width: 223px !important; display: block; font-family: Arial,Helvetica,Open Sans,sans-serif; font-size: 15px; color: #ffffff;" alt="ICBC - Inversiones" width="223" height="40" /></td>
</tr>
</tbody>
</table>
</td>
<td style="width: 35px;" width="35"></td>
</tr>
<tr>
<td colspan="3" style="height: 14px; font-size: 0px;" height="14px"></td>
</tr>
</tbody>
</table>
