<tr>
    <td align="center">
        <table style="width: 100%;" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td width="80" height="80" valign="middle"><img src="https://d343t93odde9ul.cloudfront.net/minisites/ICBC/iconos/icono_sucursales_100x100-21.png" alt="Icono" style="display: block; font-size: 15px; text-align: center; font-family: Arial,Helvetica,sans-serif; color: #c4161c;" width="75" height="75" /></td>
                    <td style="width: 5px;" width="5" valign="top" align="left"></td>
                    <td style="border-left: solid 5px #c4161c;" width="10" valign="top" align="left"></td>
                    <td style="width: 5px;" width="5" valign="top" align="left"></td>
                    <td style="color: #333333; font-size: 15px; text-align: left; font-family: Arial,Helvetica,sans-serif; font-weight: normal; line-height: 24px;" valign="middle">
                        <table style="width: 100%;" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table style="width: 100%;" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td style="height:1px; line-height:1px;" class="img-max" width="425" height="1" valign="top" align="center"><img class="img-max" src="https://d343t93odde9ul.cloudfront.net/minisites/ICBC/resources/Img_Separador_265x2.png" alt="-" title="-" style="display: inline-block; width: 425px; height: 1px; font-family: Arial,Helvetica,Open Sans,sans-serif; font-size: 1px; color: #333333; " width="425" height="1" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="color: #c4161c; font-size: 17px; text-align: left; font-family: Arial,Helvetica,sans-serif; font-weight: bold; line-height: 24px;" valign="middle"><span style="font-weight: normal; color: #333333;"> <strong>Texto del bloque</strong></span></td>
                                                </tr>
                                                <tr>
                                                    <td style="height:1px; line-height:1px;" class="img-max" width="425" height="1" valign="top" align="center"><img class="img-max" src="https://d343t93odde9ul.cloudfront.net/minisites/ICBC/resources/Img_Separador_265x2.png" alt="-" title="-" style="display: inline-block; width: 425px; height: 1px; font-family: Arial,Helvetica,Open Sans,sans-serif; font-size: 1px; color: #333333; " width="425" height="1" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width: 14px; font-size: 0;" width="14">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
